textarea {
    color:aqua;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.submission {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dashed blue;
    background-color: rgb(211, 224, 228);
    padding: 1rem;
    margin: 0.5 rem 0;
    font-size: smaller;
}